// Variables
$font-stack: "Dosis", sans-serif;
$white: #fff;
$website-width: 1280px;
$primary-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-img: url("../img/showcase.jpg");

// Set text color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return $white;
  }
}
